$colorGreenA: #3d6a19;
$colorGreenB: #89d83f;
$colorGreenC: #f6fbf4;
$colorGreenD: #d7eabd;
$colorBlueA: #2f5967;
$colorBlueB: #72c6e2;
$colorBlueC: #f6fafb;
$colorBlueD: #cfeaf5;
$colorBrownA: #BE5420;
$colorBrownB: #f2c534;
$colorBrownC: #fdfaf3;
$colorBrownD: #f4e7b0;
$colorBorderA: #e4e4e4;
$colorTextA: #a2a2a2;
$colorTextB: #393939;